*{
    margin: 0;
    
}

#new{
    padding: 5px;
}
.nav-link{
    color: black;
}
.nav-item1{
    padding: 10px;
    margin-right: 0px;
    color: black;
}
.new{
    border-style: solid pink 2px;
    margin-top: 200px;
    margin-bottom: 20px;
    justify-content: center;
    
}
.page-footer{
    background-color: pink;
    margin-bottom: 0;
    width: 100%;
    max-width: relative;
}
.footer-copyright{
    background-color: palevioletred;
    margin-bottom: 0;
}
@font-face {
    font-family: 'bebas-neue';
    src: url("../css/BebasNeue-Regular.ttf");
    font-style: bebas-neue;
    font-weight: 100;
}
h1{
    font-family: 'bebas-neue';  
}
h5{
    font-family: 'bebas-neue';  
}

a{
    font-family: 'bebas-neue';
    font-size: 22px;
  
}
.nav-item{
    padding: 0, 20px;
}

 

.list{
    margin-right: 20px;
    padding: 2px;
}

.Slist{
    margin-right: 20px;
}
form{
    padding: 18px;
}
@media(min-width:600px){
    .nn a{
        color: olive !important;
    }
    
    
   
}

.navbar{
    background-color: white;
}
#newid{
    color: black;
}