body{

}
.navbar-brand{
    width: 100%;
}
.nav-link{
    color: black;
}

h2{
    text-align: center;
    margin-top: 200px; 
}

.nav-item1{
    padding: 0, 20px;
    
}

.about{
    text-align: none;
}
.new{
    text-align: center;
    margin-top: 200px; 
}

.all{
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
}
.container{
position: relative;
} 

.page-footer{
    background-color: pink;
    margin-bottom: 0;
}
.footer-copyright{
    background-color: palevioletred;
    margin-bottom: 0;
}
.blog{
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}
.title {
    font-size: 23px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    background-color:pink;
}
section{
    
    padding: 100px 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: white solid 2px;
}
article {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
.date {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}
@font-face {
    font-family: 'bebas-neue';
    src: url("../css/BebasNeue-Regular.ttf");
    font-style: bebas-neue;
    font-weight: 100;
}
h1{
    font-family: 'bebas-neue';  
}
h5{
    font-family: 'bebas-neue';  
}
h2{
    font-family: 'bebas-neue';
}
a{
    font-family: 'bebas-neue';
    font-size: 22px;
  
}
.nav-item{
    padding: 0, 20px;
    
}

.nav-item:hover{
    transform: scale(1.1,1.1);
    
}
#newid{
    color: black;
}

.list{
    margin-right: 20px;
    padding: 2px;
}
.nav-item1{
    padding: 10px;
    margin-right: 0px;
    color: black;
}
.Slist{
    margin-right: 20px;
}
form{
    padding: 18px;
    margin-left: 60px;
    margin-right: 60px;
}
img{
    width: 600px;
    height: 500px;
    padding: 100px 100px;
}
@media(min-width:600px){
    .nn a{
        color: olive !important;
    }
    
 
}
.women{
    margin-top: 150px;
}
.ff{
   
    width: 100%;
}