@import url(//db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTCBodoni175W01-Regular);
body{

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar-brand{
    width: 100%;
}
.nav-link{
    color: black;
}

h2{
    text-align: center;
    margin-top: 200px; 
}

.nav-item1{
    padding: 0, 20px;
    
}

.about{
    text-align: none;
}
.new{
    text-align: center;
    margin-top: 200px; 
}

.all{
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
}
.container{
position: relative;
} 

.page-footer{
    background-color: pink;
    margin-bottom: 0;
}
.footer-copyright{
    background-color: palevioletred;
    margin-bottom: 0;
}
.blog{
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}
#title {
    font-family: 'Xanh Mono', monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;   
}
#title1{
    font-family: 'Xanh Mono', monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
#title1:hover{
    transform: scale(1.1,1.1);
    color: gray;
}
section{
    
    padding: 100px 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: white solid 2px;
}
article {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}
.date {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}
@font-face {
    font-family: 'bebas-neue';
    src: url("../css/BebasNeue-Regular.ttf");
    font-style: bebas-neue;
    font-weight: 100;
}
h1{
    font-family: 'bebas-neue';  
}
h5{
    font-family: 'bebas-neue';  
}
h2{
    font-family: 'bebas-neue';
}
a{
    font-family: 'bebas-neue';
    font-size: 22px;
  
}
.nav-item{
    padding: 0, 20px;
    
}

.nav-item:hover{
    transform: scale(1.1,1.1);
    
}
#newid{
    color: black;
}
#www{
    margin-left: 5px;
    border-bottom: 0;
    font-size: 40px;
    color:red;
}
#wwwa{
    margin-right: 5px;
    border-bottom: 0;
    font-size: 40px;
    color:red;
}
#old{
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: italic;
    
    letter-spacing: .03em;
    line-height: 1em;
    text-transform: none;
    color: #222222;
    font-size: 30px;
    
}
.list{
    margin-right: 20px;
    padding: 2px;
}
.nav-item1{
    padding: 10px;
    margin-right: 0px;
    color: black;
}
.Slist{
    margin-right: 20px;
}
form{
    padding: 18px;
    margin-left: 60px;
    margin-right: 60px;
}
img{
    width: 460px;
    height: 500px;
    padding: 8px 8px;
}
@media(min-width:600px){
    .nn a{
        color: olive !important;
    }
    
 
}
.women{
    margin-top: 150px;
}
.ff{
   
    width: 100%;
}
#tt{
    font-family: 'Xanh Mono', monospace;
}
#head5{
    font-size: 40px;
    font-family: 'bebas-neue';
}
.nav-link1{
    text-decoration: none;
    color:gray;
    line-height: 15px;
}
#aa{
    margin-right: 0px;
    text-decoration: none;
    color: gray;
}
.mmm{
    display: inline;
}
.row{
    margin-top: 20px;
}
#next{
    text-decoration: none;
}
#nnnn:hover{
    color: gray;
}
#prive{
    text-decoration: none;
    font-family: url(//db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTCBodoni175W01-Regular);
}
